

<%= simple_form_for(@list) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
<div class="mb-3">
  <div class="form-control">

    <%= f.input :name %>
   </div>
  </div>
 <div class="mb-3">
  <div class="form-control">

    <%= f.button :submit %>
   </div>
  </div>
<% end %>
